
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
 }



h1 {
    color: green;
    margin: 2 em;
}

h2,
h3 {
    color: #00a2c6
}



nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
    color: #03767c;
}

.profile header {
    text-align: center;
}




footer {

    padding: 20px;
    color: rgb(255, 255, 255);
    background-color: #03767c;

}

footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
}